@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Gravitas+One&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    width: 100%;
}

body {
    margin: 0%;
    padding: 0%;
}

header {
    font-family: "Gravitas One", serif;
    background-color: rgb(59, 59, 59);
    color: white;
    padding: 20px;
    padding-left: 100px;
    display: flex;
    align-items: center;
}

header>img {
    width: 180px;
    border: 2px solid;
    border-radius: 50%;
    margin-right: 30px;
}

header h1 {
    font-weight: lighter;
}

header p {
    color: rgb(184, 184, 184);
}

footer {
    font-family: "Baloo Bhai 2", sans-serif;
    display: flex;
}

aside {
    width: 40%;
    padding: 30px;
    background-color: rgb(228, 191, 143);
}

main {
    width: 60%;
    padding: 30px;
    background-color: aliceblue;

}

.section_title {
    font-weight: bold;
    font-size: x-large;
    margin-top: 20px;
    margin-bottom: 10px;
    border-left: 2px solid rgb(129, 129, 129);
    border-bottom: 2px solid rgb(129, 129, 129);
    padding-left: 5px;
}
.box{
    background: linear-gradient(
        120deg,
        rgb(57, 172, 218) 0% ,
        rgba(87,199,133,1) 30% ,
        rgba(237,221,83,1) 100% 
    );
    width: 100%;
    border-radius: 30px;
    margin-bottom: 15px;
    padding: 2px;
    box-shadow: 0 0 10px rgba(12, 0, 39, 0.658) ;
}
